.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;

  }
.card {
  text-align: center;
  border-radius: 12px;
  background-color:lightcoral;
  color: whitesmoke;
  line-height: 15px;
}
p{
    font-size: 15px;;
  line-height: 8px;
}
h2 {
    font-size: 18px;
  color: white;
  text-shadow: 2px 2px rgba(240, 128, 128, 0.24);
}
a {
  color: whitesmoke;
  text-decoration: none;
}